@model List<LabPerformance01.Models.Student>
@{
    ViewBag.Title = "AllStudent";
}

<h2>AllStudent</h2>
<div>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Student Name</th>
            <th>Date Of birth</th>
            <th>Credit</th>
            <th>CGPA</th>
            <th>Department name</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var students in @Model)
        {
            <tr>
                <td>@students.ID</td>
                <td>@students.Name</td>
                <td>@students.DOB</td>
                <td>@students.Credit</td>
                <td>@students.CGPA</td>
                <td>@students.Dept_ID</td>
                <td><a class="btn btn-success" href="/Student/Edit/@students.ID">Edit</a></td>
                <td><a class="btn btn-danger" href="/Student/Delete/@students.ID">Delete</a></td>
            </tr>
        }
    </table>
</div>
